<header ng-controller="HeaderController as header">
  <h1>Hello {{header.current_user.name}}, what have you read today?</h1>

</header>
<main ng-controller="BooksController as booksCtrl">
  <h2>What I've been reading</h2>
  <ul>
    <li ng-repeat="book in booksCtrl.current_user_books">
      Title: {{book.name}}
      <br/>
      Type: {{book.book_type}}
      <br/>
      Website: {{book.website}}
      <br/>
      Volume: {{book.volume}}
      <br/>
      Chapter: {{book.chapter}}
      <br/>
      Page: {{book.page}}
      <br/>
      Summary/Notes: {{book.description}}
      <div>
        <button ng-click="booksCtrl.showEditForm(book.id)"> Edit </button>
        <button ng-click="booksCtrl.deleteBook(book)"> Delete </button>
      </div>
      <br/>
      <form ng-submit="booksCtrl.editBook(book)" ng-show="booksCtrl.editFormStatus === book.id" >
         <div>
           <input ng-model="book.name" type="text" required><br>
           <select ng-model="book.book_type">
             <option ng-repeat="bookType in booksCtrl.BOOK_TYPES">{{bookType}}</option>
           </select><br/>
           <input type="text" ng-model="book.website"><br/>
           <input type="text" ng-model="book.volume"><br/>
           <input type="text" ng-model="book.chapter"><br/>
           <input type="text" ng-model="book.page"><br/>
           <textarea ng-model="book.description" rows="3"></textarea>
           <div class="button"><br>
             <input type="submit" value="Submit">
           </div>
         </div>
       </form>
      <hr/>
    </li>
  </ul>

  <h2>I've read something new!</h2>
  <form ng-submit="booksCtrl.createBook()">
    <input type="text" ng-model="booksCtrl.newBookName" placeholder="Title"/><br/>
    <select ng-model="booksCtrl.newBookBookType">
      <option ng-repeat="bookType in booksCtrl.BOOK_TYPES">{{bookType}}</option>
    </select><br/>
    <input type="text" ng-model="booksCtrl.newBookWebsite" placeholder="Website(If applicable)"/><br/>
    <input type="text" ng-model="booksCtrl.newBookVolume" placeholder="Volume(If applicable)"/><br/>
    <input type="text" ng-model="booksCtrl.newBookChapter" placeholder="Chapter(If applicable)"/><br/>
    <input type="text" ng-model="booksCtrl.newBookPage" placeholder="Page"/><br/>
    <input type="text" ng-model="booksCtrl.newBookDescription" placeholder="What's happened so far"/><br/>
    <input type="submit" value="Read so far, much more to go!" />
  </form>
</main>
